/* IncidentList.css */

div {
    text-align: center;
    margin: 20px;
  }
  
  h2 {
    color: #3498db;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  select {
    padding: 5px;
    margin-right: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  strong {
    color: #e74c3c; /* Red color for incident type */
  }
  